// #home {
//   background-color: #D23333;
//   color: white;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   text-align: center;
//   p {
//     margin-top: 1.5em;
//   }
//   a {
//     color: rgba(0,0,0,0.4);
//     font-weight: bold;
//     font-size: 16px;
//   }
// }

.banner {
  background-color: black;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    color: white;
    display: inline-block
  }
}

.wrapper-intro {
  background-color: gray;
  height: 100vh;
  h2 {
    margin-top: 0;
  }
}

.wrapper-projects {
  background-color: white;
  height: 100vh;
  h2 {
    margin-top: 0;
  }
}

.row {

}

.project-card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  img {
    height: 270px;
  }
}
