<div class="banner">
  <div class="batman"></div>
  <div class="welcome">
    <h1>Hey, I am Louis !</h1>
    <br>
    <a href="#presentation" class="btn"><span>Let's meet this guy</span></a>
  </div>
</div>

<div class="wrapper-intro" id="presentation">
  <h2>Who is this guy?</h2>
  <div class="skills-content">
    <div class="skills-header">
      <img src='images/louis.jpg' class="avatar-bordered"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deserunt ab libero architecto quia dolores illum ipsum repellendus tenetur repellat facere asperiores, voluptates inventore consequatur ad perferendis, nihil assumenda cumque?</p>
    </div>
    <div class="skills-box">
      <div class="skills-group">
        <h3 class="skills-title">Data Management</h3>
        <ul>
          <li>Data Modelling</li>
          <li>Data Architecture</li>
          <li>Database design</li>
          <li>SQL</li>
          <li>ETL transformations</li>
          <li>Data Analytics</li>
        </ul>
      </div>
      <h2>+</h2>
      <div class="skills-group">
        <h3 class="skills-title">Coding Skills</h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Python</li>
        </ul>
      </div>
      <h2>+</h2>
      <div class="skills-group">
        <h3 class="skills-title">Business Background</h3>
        <ul>
          <li>Financial valuation</li>
          <li>Business Model</li>
          <li>Target Operating Model</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-projects">
  <h2>If you are wondering what I have been working on so far</h2>
  <div class="projects-row">
    <div class="col-xs-12 col-md-6">
      <div class="project-card">
        <img src="/images/dragonsitter.png" alt="Dragonsitter homepage">
        <div class="card-title">
          <a href="https://immense-shore-70863.herokuapp.com" target="_blank"><h4>Dragonsitter</h4></a>
        </div>
        <div class="card-description">
          <p>The perfect website to rent your dragon or find a dragon to pet for some days</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="project-card">
        <img src="/images/recipeasy.png" alt="Recipeasy homepage">
        <div class="card-title">
          <a href="https://www.recipeasy.de" target="_blank"><h4>Recipeasy</h4></a>
        </div>
        <div class="card-description">
          <p>Find cool matching recipes based the one ingredient you want</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-contact">
  <h2>How to get in touch with me?</h2>
  <div class="contact-links">
    <a href="#"><i class="fab fa-github"></i><h4>LLF16</h4></a>
    <a href="#"><i class="fab fa-instagram"></i><h4>@llf16_official</h4></a>
    <a href="#"><i class="fab fa-facebook"></i><h4>Louis Masset</h4></a>
    <a href="#"><i class="fab fa-linkedin"></i><h4>Louis Masset</h4></a>
    <a href="#"><i class="far fa-envelope"></i><h4>lmasset16@gmail.com</h4></a>
  </div>
</div>


