<div class="banner">
  <h1>Hey, I am Louis !</h1>
</div>
<div class="intro">
  <h2>Who is this guy?</h2>
</div>
<div class="projects">
  <h2>If you are wondering what I have been workign on so far</h2>
  <div class="projects-row">
    <div class="projects-list">

    </div>
  </div>
</div>
