<div class="banner">
  <div class="batman"></div>
  <h1>Hey, I am Louis !</h1>
</div>
<div class="wrapper-intro">
  <h2>Who is this guy?</h2>
</div>
<div class="wrapper-projects">
  <h2>If you are wondering what I have been working on so far</h2>
  <div class="projects-row">
    <div class="col-xs-12 col-md-6">
      <div class="project-card">
        <img src="/images/dragonsitter.png" alt="Dragonsitter homepage">
        <div class="card-title">
          <a href="https://immense-shore-70863.herokuapp.com"><h4>Dragonsitter</h4></a>
        </div>
        <div class="card-description">
          <p>The perfect website to rent your dragon or find a dragon to pet for some days</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="project-card">
        <img src="/images/recipeasy.png" alt="Recipeasy homepage">
        <div class="card-title">
          <a href="https://www.recipeasy.de"><h4>Recipeasy</h4></a>
        </div>
        <div class="card-description">
          <p>Find cool matching recipes based the one ingredient you want</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-contact">
  <h2>How to get in touch with me?</h2>
</div>

