<div class="banner">
  <h1>Hey, I am Louis !</h1>
</div>
<div class="wrapper-intro">
  <h2>Who is this guy?</h2>
</div>
<div class="wrapper-projects">
  <h2>If you are wondering what I have been working on so far</h2>
  <div class="projects-row">
    <div class="col-xs-12 col-sm-4">
      <div class="project-card">
        <img src="/images/dragonsitter.png" alt="Dragonsitter homepage">
        <div class="card-title">
          Dragonsitter
        </div>
        <div class="card-description">
          <p>The perfect website to rent your dragon or find a dragon to pet for some days</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="project-card">
        <img src="/images/recipeasy.png" alt="Recipeasy homepage">
        <div class="card-title">
          Recipeasy
        </div>
        <div class="card-description">
          <p>Find cool matching recipes based the one ingredient you want</p>
        </div>
      </div>
    </div>
  </div>
</div>

